node_modules/
front/public/Release


unity/Library
unity/ProjectSettings
unity/SMA 2.0.CSharp.csproj
unity/SMA 2.0.sln
unity/SMA 2.0.userprefs
unity/Assets/**/*.ttf

*.meta
*.prefab
*.prefab.meta
*.unity
*.mat
*.mat.meta
