<div
  ng-style="style.wrapper"
  e2e="component-dropdown"
  e2e-folded="{{unfolded}}"
  e2e-value="{{model.$modelValue}}"
  e2e-text="{{filterValue}}">
  <div ng-style="style.container">
    <div ng-style="style.input.wrapper">
      <input
        type="text"
        hidden
        ng-model="model"
        e2e-model>
      <input
        type="text"
        placeholder="{{placeholder}}"
        ng-style="style.input.input"
        ng-model="filterValue"
        ng-change="Unfold()"
        ng-disabled="!cpMode"
        e2e-input>
    </div>

    <img
      type="button"
      ng-style="style.caret"
      ng-click="SwitchFold()"
      ng-hide="!cpMode"
      ng-src="style.caretLink"
      e2e-button="unfold">

    <div
      ng-show="unfolded"
      ng-style="style.dropdown.wrapper"
      e2e="dropdown-list">
      <ul ng-style="style.dropdown.list">
        <li
          ng-repeat="element in dropdownOptions | filter:filterBy as filtered"
          ng-style="style.dropdown.item">
          <span
            ng-click="Select(element)"
            e2e="dropdown-option"
            e2e-value="{{element.name}}">
            {{element.name}}
          </span>
        </li>
        <li ng-show="filtered.length == 0" ng-style="style.dropdown.item">
          <span e2e="dropdown-noresult">поиск не дал результатов</span>
        </li>
      </ul>
    <div>
  </div>
</div>
