<div class="content-wrap">

  <div ng-if="!edit">
    <div class="header-medium padding-top-large padding-bottom-large padding-left-large padding-right-large">
      Просмотр группы
    </div>

    <div class="width-100p height-medium">
      <div class="float-right">
        <img
          class="icon-medium padding-right-regular"
          src=""
          title="Редактировать"
          ng-click="Edit()">
      </div>
    </div>

    <div class="padding-right-regular padding-left-regular width-50p" style="margin-left: auto; margin-right: auto;">
      <div class="padding-top-regular padding-bottom-regular">
        <span>Идентификатор</span>
        <span>{{newGroup.id}}</span>
      </div>
      <div class="padding-top-regular padding-bottom-regular">
        <span>Название</span>
        <span>{{newGroup.name}}</span>
      </div>
      <div class="padding-top-regular padding-bottom-regular">
        <span>Стартовый информер</span>
        <span>{{newGroup.startFrom}}</span>
      </div>
    </div>
  </div>


  <div ng-if="edit">
    <div class="header-medium padding-top-large padding-bottom-large padding-left-large padding-right-large">
      Редактирование группы
    </div>
    <form
      name="form"
      ng-submit="Submit(form.$valid)"
      class="padding-right-regular padding-left-regular width-50p"
      style="margin-left: auto; margin-right: auto;"
      name="form"
      novalidate>
      <div class="padding-top-regular padding-bottom-regular">
        <span>Идентификатор</span>
        <input
          class="input"
          type="text"
          name="gid"
          placeholder="введите идетификатор"
          ng-model="newGroup.id"
          required>
        <div ng-show="form.$submitted">
          <div class="validation-v-text" ng-show="form.gid.$error.required">обязательное поле</div>
        </div>
      </div>
      <div class="padding-top-regular padding-bottom-regular">
        <span>Название</span>
        <input
          class="input"
          type="text"
          name="gname"
          placeholder="введите название"
          ng-model="newGroup.name"
          required>
        <div ng-show="form.$submitted">
          <div class="validation-v-text" ng-show="form.gname.$error.required">обязательное поле</div>
        </div>
      </div>

      {{newGroup.startFrom}}
      <dropdown
        ng-model="newGroup.startFrom"
        cp-config="startFromConfig"
        cp-mode="false">
      </dropdown>
      <!--
      <div class="padding-top-regular padding-bottom-regular">
        <span>Стартовый информер</span>

        <div style="position: relative;">
          <div style="position: absolute;">
            {{snapshotName}}
            <div>
              <input
                type="text"
                name="gstartFrom"
                hidden
                ng-model="newGroup.startFrom"
                required>
              <input
                ng-init="drop = false;"
                class="input"
                type="text"
                placeholder="выберите группу"
                ng-model="snapshotName"
                ng-change="drop = true;">
              <input type="button" class="button" ng-click="drop = !drop;" value="^">
            </div>

            <div
              ng-show="drop"
              style="postion: absolute; top: 0; left: 0; height: 192px; overflow: auto;">
              <ul style="list-style: none; padding: 0px; margin: 0px;">
                <li ng-repeat="element in avalibleSnapshots | filter:{name:snapshotName}">
                  <span ng-click="SetStartingSnapshot(element.id)">
                    {{element.name}}
                  </span>
                </li>
              </ul>
            <div>
          </div>
        </div>
        <div ng-show="form.$submitted">
          <div class="validation-v-text" ng-show="form.gstartFrom.$error.required">обязательное поле</div>
        </div>
      </div>
      -->

      <div class="padding-top-large padding-bottom-regular height-medium">
        <input type="button" class="button float-right" ng-click="GoBack()" value="Отменить">
        <input
          class="button float-right margin-right-regular"
          type="submit"
          value="Сохранить">
      </div>

    </form>
  <div>

</div>
