<div class="content-wrap">

  <div ng-if="!edit">
    <div class="header-medium padding-top-large padding-bottom-large padding-left-large padding-right-large">
      Просмотр группы
    </div>

    <div class="width-100p height-medium">
      <div class="float-right">
        <img
          class="icon-medium padding-right-regular"
          src=""
          title="Редактировать"
          ng-click="Edit()">
      </div>
    </div>

    <div class="padding-right-regular padding-left-regular width-50p" style="margin-left: auto; margin-right: auto;">
      <div class="padding-top-regular padding-bottom-regular">
        <span>Идентификатор</span>
        <span>{{newGroup.id}}</span>
      </div>
      <div class="padding-top-regular padding-bottom-regular">
        <span>Название</span>
        <span>{{newGroup.name}}</span>
      </div>
      <div class="padding-top-regular padding-bottom-regular">
        <span>Стартовый информер</span>
        <span>{{newGroup.startFrom}}</span>
      </div>
    </div>
  </div>


  <div ng-if="edit">
    <div class="header-medium padding-top-large padding-bottom-large padding-left-large padding-right-large">
      Редактирование группы
    </div>
    <form
      name="form"
      ng-submit="Submit(form.$valid)"
      class="padding-right-regular padding-left-regular width-50p"
      style="margin-left: auto; margin-right: auto;"
      name="form"
      novalidate>
      <div class="padding-top-regular padding-bottom-regular">
        <span>Идентификатор</span>
        <input
          class="input"
          type="text"
          name="gid"
          placeholder="введите идетификатор"
          ng-model="newGroup.id"
          required>
        <div ng-show="form.$submitted">
          <div class="validation-v-text" ng-show="form.gid.$error.required">обязательное поле</div>
        </div>
      </div>

      <!--
      <div class="padding-top-regular padding-bottom-regular">
        <span>Название</span>
        <input
          class="input"
          type="text"
          name="gname"
          placeholder="введите название"
          ng-model="newGroup.name"
          required>
        <div ng-show="form.$submitted">
          <div class="validation-v-text" ng-show="form.gname.$error.required">обязательное поле</div>
        </div>
      </div>
      -->

      <div class="padding-top-regular padding-bottom-regular">
        <span>Название</span>
        {{newGroup.name}}
        <regular-input
          ng-model="newGroup.name"
          cp-config="nameConfig"
          cp-mode="true"></regular-input>
      </div>

      <div class="padding-top-regular padding-bottom-regular">
        <span>Стартовый информер</span>
        <dropdown
          ng-model="newGroup.startFrom"
          cp-config="startFromConfig"
          cp-mode="true">
        </dropdown>
      </div>

      <div class="padding-top-large padding-bottom-regular height-medium">
        <input type="button" class="button float-right" ng-click="GoBack()" value="Отменить">
        <input
          class="button float-right margin-right-regular"
          type="submit"
          value="Сохранить">
      </div>

    </form>
  <div>

</div>
