<div class="content-wrap">
  Группы

  <div class="width-100p height-medium">
    <div class="float-right">
      <img
        class="icon-medium padding-right-regular"
        src=""
        title="Добавить группу"
        ng-click="AddNewGroup()">
    </div>
  </div>

  <table>
    <tr>
      <th>Название</th>
      <th>Идентификатор</th>
      <th>Стартовый элемент</th>
    </tr>
    <tr ng-repeat="group in groups">
      <td>{{group.name}}</td>
      <td><a ui-sref="editGroup({id: group.id})">{{group.id}}</a></td>
      <td>{{group.startFrom}}</td>
    <tr>
  </table>


</div>
